*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("./texture-1306790.jpg");
}
#main{
    margin-top: 50px;
    width: 400px;
    height: 400px;
}
a{
    text-decoration: none;
}
h2{
    color: aqua;
}